<!-- -*- mode: XML -*- -->

<launch>
	<!--<master auto="start"/>
  	<param name="/use_sim_time" value="true"/>-->

     <!-- launch-prefix="xterm -e gdb (doble hyphen)args"-->
	 <node pkg="nhoa_approach_action" type="nhoa_approach_action" name="nhoa_approach_action" output="screen"  >

		<param name="test_without_hri" type="bool" value="false" />
		<param name="hri_ids_topic" type="string" value="humans/bodies/tracked" />
		<param name="person_max_angle_diff" type="double" value="0.4" /> 
		<param name="control_frequency" type="double" value="1.0" />
		<!--<param name="people_topic" type="string" value="people" />-->
		<param name="robot_frame" type="string" value="base_link" />
		<param name="move_close" type="bool" value="true" />
		<param name="person_max_dist" type="double" value="4.0" />

	</node>

</launch>
